@page
@model TaskManager.Webapp.Pages.ProfileModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Profil aktualisieren";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
<link rel="stylesheet" href="css/profile.css">

<h2>Profil von @HttpContextAccessor.HttpContext.Session.GetString("US_vorname") aktualisieren</h2>

<div class="container mt-5">
    <form method="post">
        <div class="mb-3">
            <label for="Email" class="form-label">Email</label>
            <input type="email" class="form-control" id="Email" value="@Model.User.Email" asp-for="User.Email">
        </div>
        <div class="mb-3">
            <label for="Vorname" class="form-label">Vorname</label>
            <input type="text" class="form-control" id="Vorname" value="@Model.User.Profile.Vorname" asp-for="User.Profile.Vorname">
        </div>
        <div class="mb-3">
            <label for="Nachname" class="form-label">Nachname</label>
            <input type="text" class="form-control" id="Nachname" value="@Model.User.Profile.Nachname" asp-for="User.Profile.Nachname">
        </div>
        <div class="mb-3">
            <label for="Geburtsdatum" class="form-label">Geburtsdatum</label>
            <input type="date" class="form-control" id="Geburtsdatum" value="@Model.User.Profile.Geburtsdatum.ToString("yyyy-MM-dd")" asp-for="User.Profile.Geburtsdatum">
        </div>
        <button type="submit" class="btn btn-primary">Aktualisieren</button>
    </form>
</div>