@page
@model TaskManager.Webapp.Pages.TaskModel

@{
  ViewData["Title"] = "Create a Task";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

<p>DANISMAN Atilla Nedim, Praktische Arbeit 2023/24 mehr dazu <a asp-page="addTask">hier klicken</a></p>

@if (TempData["SuccessMessage"] != null)
{
  <div class="alert alert-success" role="alert">
    @TempData["SuccessMessage"]
  </div>
}

<h3>Tasks des Benutzers</h3>
<p>@Model.Tasks.Count Tasks gefunden. Erstellt um @DateTime.Now.ToString("HH:mm").</p>

<table class="table table-sm">
  <thead>
  <tr>
    <th>Name</th>
    <th>Subject</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Difficulty</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  @foreach(var task in Model.Tasks) {
    <tr>
      <td>@task.Name</td>
      <td>@task.Subject</td>
      <td>@task.StartDate.ToString("dd.MM.yyyy")</td>
      <td>@task.EndDate.ToString("dd.MM.yyyy")</td>
      <td>@task.Difficulty</td>
      <td>
                        <a class="ms-2" asp-page="Details" asp-route-guid="@task._id"><i class="fa-solid fa-circle-info"></i></a>
                        <a class="ms-2" asp-page="Edit" asp-route-guid="@task._id"><i class="fa-regular fa-pen-to-square"></i></a>
                        @* <a class="ms-2" asp-page="Add" asp-route-guid="@task._id"><i class="fa-solid fa-plus"></i></a> *@
                        <a class="ms-2" asp-page="Delete" asp-route-guid="@task._id"><i class="fa-solid fa-trash"></i></a>
      </td>
    </tr>
  }
  </tbody>
</table>
